* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}
  
@media screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

#app {
  display: flex;
  min-height: 100vh;
  background-color: #EFEFEF;
}

#main {
  flex-grow: 2;
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0 16px;
  background-color: #0C4160;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.loading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 3rem;
  height: 3rem;
  border: 0.25rem solid #c4c4c4;
  border-top: 0.25rem solid #0C4160;
  border-radius: 100%;
  animation: spin 0.8s infinite linear;
}

.dropdown--container {
  font-size: 0.8rem;
  position: relative;
  text-transform: uppercase;
}

.dropdown--container:hover > .dropdown--actions {
  display: block;
}

.dropdown--selected {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  min-width: 8rem;
}

.dropdown--actions {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 8rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.25);
}

.dropdown--actions > ul {
  list-style: none;
}

.dropdown--actions li {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

.dropdown--actions li:hover {
  background-color: #c4c4c4;
}

.dropdown--actions li:first-child:hover {
  border-radius: 0.25rem 0.25rem 0 0;
}

.dropdown--actions li:last-child:hover {
  border-radius: 0 0 0.25rem 0.25rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}