@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Roboto';
  background-color: #EFEFEF;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}
  
@media screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

#app {
  min-height: 100vh;
}

#main {
  margin-left: 5rem;
}

.btn {
  position: relative;
  padding: 0.4rem 1rem;
  margin: 0 16px;
  background-color: #0C4160;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #0C4160;
  cursor: pointer;
  transition: all 0.2s;
  overflow: hidden;
}

.btn:hover {
  background-color: #072537;
}

.btn:focus {
  outline: none;
}

.btn:after {
  content: "";
  background: rgba(255, 255, 255, 0.75);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
}

.btn:active:after {
  width: 0;
  opacity: 1;
  transition: 0s
}

.btn.ghost {
  background-color: transparent;
  color: #0C4160;
  border: 1px solid #0C4160;
}

.btn.ghost:hover {
  background-color: #0C4160;
  color: #fff;
}

.btn.reversed {
  background-color: #fff;
  color: #0C4160;
  border: 1px solid #fff;
}

.btn.reversed:hover {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #fff;
}

.btn > * {
  vertical-align: middle;
}

.btn > span {
  padding-right: 0.5rem;
}

.loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 3rem;
  height: 3rem;
  border: 0.25rem solid #c4c4c4;
  border-top: 0.25rem solid #0C4160;
  border-radius: 100%;
  animation: spin 0.8s infinite linear;
}

.dropdown--container {
  font-size: 0.8rem;
  position: relative;
  text-transform: uppercase;
}

.dropdown--container:hover > .dropdown--actions {
  display: block;
}

.dropdown--selected {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  min-width: 8rem;
}

.dropdown--actions {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 8rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.25);
}

.dropdown--actions > ul {
  list-style: none;
}

.dropdown--actions li {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

.dropdown--actions li:hover {
  background-color: #c4c4c4;
}

.dropdown--actions li:first-child:hover {
  border-radius: 0.25rem 0.25rem 0 0;
}

.dropdown--actions li:last-child:hover {
  border-radius: 0 0 0.25rem 0.25rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}